/* styles.css */

/* Navbar Brand */
.navbar-brand {
    font-size: 1.5rem;
    font-weight: bold;
  }
  
  /* Navbar Links */
  .navbar-nav .nav-link {
    font-size: 1rem;
    margin-right: 10px;
    color: white;
  }
  
  .navbar-nav .nav-link:hover {
    color: #f8f9fa; /* Change color on hover */
  }
  
  /* Navbar Toggler Icon */
  .navbar-toggler-icon {
    background-color: white;
  }
  
  /* Navbar Background Color */
  .navbar {
    background-color: #343a40; /* Dark background color */
  }
  
  /* Container Fluid */
  .container-fluid {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
  }
  
  /* Collapse Navbar */
  .collapse.navbar-collapse {
    justify-content: flex-end;
  }
  
  /* Navbar Items Alignment */
  .navbar-nav {
    align-items: center;
  }
  
  /* Navbar Toggle Button */
  .navbar-toggler {
    border: none;
  }
  